version: "3"

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    restart: always
    networks:
      - backend_network
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_USER_PASSWORD=${MYSQL_USER_PASSWORD}
    volumes:
      - mariadb_volume:/var/lib/mysql

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    depends_on:
      - mariadb
    restart: always
    networks:
      - frontend_network
      - backend_network
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_USER_PASSWORD=${MYSQL_USER_PASSWORD}
      - MYSQL_HOST=${MYSQL_HOST}
      - WP_URL=${WP_URL}
      - WP_TITLE=${WP_TITLE}
      - WP_ADMIN=${WP_ADMIN}
      - WP_ADMIN_PASSWORD=${WP_ADMIN_PASSWORD}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER=${WP_USER}
      - WP_USER_PASSWORD=${WP_USER_PASSWORD}
      - WP_USER_EMAIL=${WP_USER_EMAIL}
      - WP_REDIS_HOST=${WP_REDIS_HOST}
      - WP_REDIS_PORT=${WP_REDIS_PORT}
      - WP_REDIS_DATABASE=${WP_REDIS_DATABASE}
      - WP_REDIS_TIMEOUT=${WP_REDIS_TIMEOUT}
      - WP_REDIS_READ_TIMEOUT=${WP_REDIS_READ_TIMEOUT}
    volumes:
      - wordpress_volume:/var/www/html/wordpress

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    depends_on:
      - wordpress
    restart: always
    networks:
      - frontend_network
    ports:
      - "443:443"
    volumes:
      - wordpress_volume:/var/www/html/wordpress
      - adminer_volume:/var/www/html/adminer

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    image: redis
    depends_on:
      - wordpress
    restart: always
    networks:
      - backend_network

  ftp:
    build: ./requirements/bonus/ftp
    container_name: ftp
    image: ftp
    restart: always
    volumes:
      - wordpress_volume:/var/www/html/wordpress
    ports:
      - "21:21"
    environment:
      - FTP_USER=${FTP_USER}
      - FTP_USER_PASSWORD=${FTP_USER_PASSWORD}

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    image: adminer
    restart: always
    depends_on:
      - mariadb
    networks:
      - frontend_network
      - backend_network
    volumes:
      - adminer_volume:/var/www/html/adminer

  my-page:
    build: ./requirements/bonus/my-page
    container_name: my-page
    image: my-page
    restart: always
    networks:
      - frontend_network

  grafana:
    build: ./requirements/bonus/grafana
    container_name: grafana
    image: grafana
    restart: always
    networks:
      - frontend_network
      - monitoring_network
    tty: true

  prometheus:
    build: ./requirements/bonus/prometheus
    container_name: prometheus
    image: prometheus
    restart: always
    networks:
      - monitoring_network
    tty: true

  cadvisor:
    build: ./requirements/bonus/cadvisor
    container_name: cadvisor
    image: cadvisor
    restart: always
    networks:
      - monitoring_network
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true
    tty: true

networks:
  frontend_network:
    driver: bridge
    name: frontend_network
  backend_network:
    driver: bridge
    name: backend_network
  monitoring_network:
    driver: bridge
    name: monitoring_network

volumes:
  mariadb_volume:
    name: mariadb_volume
    driver: local
    driver_opts:
      type: volume
      device: /home/seunchoi/data/mariadb
      o: bind
  wordpress_volume:
    name: wordpress_volume
    driver: local
    driver_opts:
      type: volume
      device: /home/seunchoi/data/wordpress
      o: bind
  adminer_volume:
    name: adminer_volume
    driver: local
    driver_opts:
      type: volume
      device: /home/seunchoi/data/adminer
      o: bind
